/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

.test_yes {
    color: green;
    font-weight: bold;
}

.test_warning {
    color: orange;
    font-weight: bold;
}

.test_no {
    color: red;
    font-weight: bold;
}

.shaded {
    background-color: #f2f2f2 !important;
}

/* status_feltet */
div#statusfield, .status {
    border-style: solid;
    border-width: 1px;
    padding: 10px 5px;
    width: 98%;
    margin: 4px;
}
div#statusfield img {
    width: 40px;
    vertical-align: middle;
}

div.status_warning {
    border-color: #FFC96B;
    background-color: #FFE8BF;
}
div.status_error {
    border-color: #C30000;
    background-color: #FFC1C1;
}
div.status_info {
    border-color: #3F4AE2;
    background-color: #C1C6FF;
}
div.status_good {
    border-color: #00831A;
    background-color: #ABE9B7;
}

#nav ul {
    list-style-type: none;
    margin-top: 10px;
}

#nav ul li {
    color: #989898;
    float: left;
    margin-right: 20px;
}
#nav ul li a {
    color: #9c9c9c;
    text-decoration: none;
}
#nav ul li a:hover {
    color: #c03d20;
}